html{
    height: 100%;
}
body{

    background-image: url("../images/mainbg.jpg");
    height: 100%;
}
main{
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    padding: 10px 0 0 0;
}

header{
    margin-bottom: 20px;
}


form textarea{
    min-height: 250px;
}

html{
    height: 100%;
}
body{
    font-family: Arial Helvetica, sans-serif;
    font-size: 14px;
    background-image: url("../images/mainbg.jpg");
    height: 100%;


}

.container{
    height: auto;
    padding: 10px 10px 20px 10px;

}
.inbox-ui-frame{
    border-collapse: collapse;
    height: 100%;
    display: table;
    table-layout: fixed;
}
.inbox-ui-frame aside{
    display: table-cell;
    vertical-align: top;
    float: none;
}
.inbox-ui-frame .left-row{
    height: 100%;
    padding: auto;
    vertical-align: top;
    float: none;
    background-image: url("../images/mainbg.jpg");
    width: 25%;
}

.inbox-ui-frame .right-row{
    width: 150%;
    display: table-cell;
    vertical-align: top;
}

.inbox-ui-frame .left-row .inbox-Logo{
    border-radius: 4px 0 0;
    padding: 10px;

}
ul a{
    display: table-cell;
    width: 25%;
}
.inbox-Logo .h5 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 15px;
}
.compose-body{
    padding: 20px;

}

ul .other-buttons{
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 100%;

}

ul .other-buttons .li{
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul .other-buttons li a{
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
.top-column {
    background: none repeat scroll 0 0 ;
    min-height: 54px;
    padding: 0;
}
.top-column h3{
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
    color: #41cac0;
}
.table{
    border-collapse: collapse;
    margin-bottom: 0;
}

.table tr td{
    padding: 12px;
    vertical-align: middle;
}

.table tr .message-rows td{
    font-weight: 600;
}
ul {
    list-style-type: none;
    padding: 0;
}


.inbox-message-message{
    color: gray;
}

.md_subject{
  justify-content: center;
}

.md_email{
  justify-content: center;
}

.md_image{
  align-items: center;
  display: flex;
  height: auto;
  object-fit: contain;
  width: 50%;
}

.md_image_container{
  align-items: center;
  display: block;
  flex: 0 1 auto;
  height: auto;
  justify-content: center;
  object-fit: contain;
  width: 100px;
}
.md_image_frame{
  height: auto;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 1200px;
}

.md_message{
  justify-content: center;
}

.message-ui-frame {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.text-muted{
    color: #00949e !important;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.8);
}

.other-buttons li{
    margin: 10px 20px;
}

.inbox-Logo{
    padding-left: 34px;
}